.menu{
    background-color: rgb(70, 70, 175);
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}
.menubutao{
    width: 82%;
    display: flex;
    flex-direction: row-reverse;
}

h1{
    color: white;
    font-size: 15pt;
    padding: 0.5rem;
}